<?xml version='1.0' encoding='utf-8'?>
<widget    id="com.phonegap.helloworld" 
           version="1.0.0" 
           xmlns="http://www.w3.org/ns/widgets" 
           xmlns:gap="http://phonegap.com/ns/1.0" >
           <icon src="img/icon.png" />
    <name>West Inn and Suites </name>
    <description>
        Guest Comment Card
    </description>
    <author email="thilinasupunsara@gmail.com" href="http://thilinadissanayake.tk">
        Thilina Dissanayake
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" source="npm"/>
</widget>
